In [1]:
###Data Source 1

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import functions as F
import findspark
findspark.init()
import pyspark
from pyspark.sql.functions import monotonically_increasing_id
# Replace <username> and <password> with your MongoDB Atlas credentials
username = "anuphap"
password = "Pekpeping_29"

In [3]:
# Create a Spark sessions
spark = SparkSession.builder.appName("Assignment1")\
                            .config("spark.driver.extraClassPath", "mariadb-java-client-3.3.2.jar") \
                            .config("spark.mongodb.input.uri", f"mongodb+srv://anuphap:Pekpeping_29@cluster0.umpanj8.mongodb.net") \
                            .config("spark.mongodb.input.database", "sample_supplies") \
                            .config("spark.mongodb.input.collection", "sales") \
                            .config("spark.mongodb.output.uri", f"mongodb+srv://anuphap:Pekpeping_29@cluster0.umpanj8.mongodb.net") \
                            .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1,com.microsoft.azure:spark-mssql-connector_2.12:1.2.0") \
                            .config("spark.jars.repositories", "https://mmlspark.azureedge.net/maven") \
                            .master("local")\
                            .getOrCreate()

https://mmlspark.azureedge.net/maven added as a remote repository with the name: repo-1
Ivy Default Cache set to: /home/azureuser/.ivy2/cache
The jars for the packages stored in: /home/azureuser/.ivy2/jars
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
com.microsoft.azure#spark-mssql-connector_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-9ccd2bf2-1988-45e6-8cab-14ad4c59c244;1.0
	confs: [default]

:: loading settings :: url = jar:file:/usr/local/spark/spark-3.5.0-bin-hadoop3/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 in central
	found com.microsoft.sqlserver#mssql-jdbc;8.4.1.jre8 in central
:: resolution report :: resolve 252ms :: artifacts dl 11ms
	:: modules in use:
	com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 from central in [default]
	com.microsoft.sqlserver#mssql-jdbc;8.4.1.jre8 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   6   |   0   |   0   |   0   ||   6   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-9ccd2bf2-1988-45e6-8cab-14ad4c59c244
	confs: [default]
	0 artifacts copied, 6 already retrieved (0kB/7ms)
24/02/13 01:47:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [ ]:
#Data Source 1

In [4]:
# Load CSV files into PySpark DataFrames
brands_df = spark.read.csv("hdfs://localhost:9000/user/input/bike_store/brands_cleaned.csv", header=True)
categories_df = spark.read.csv("hdfs://localhost:9000/user/input/bike_store/categories_cleaned.csv", header=True)
customers_df = spark.read.csv("hdfs://localhost:9000/user/input/bike_store/customers_cleaned.csv", header=True)
orders_items_df = spark.read.csv("hdfs://localhost:9000/user/input/bike_store/order_items_cleaned.csv", header=True)
orders_df = spark.read.csv("hdfs://localhost:9000/user/input/bike_store/orders_cleaned.csv", header=True)
products_df = spark.read.csv("hdfs://localhost:9000/user/input/bike_store/products_cleaned.csv", header=True)
staffs_df = spark.read.csv("hdfs://localhost:9000/user/input/bike_store/staffs_cleaned.csv", header=True)
stores_df = spark.read.csv("hdfs://localhost:9000/user/input/bike_store/stores_cleaned.csv", header=True)
stocks_df = spark.read.csv("hdfs://localhost:9000/user/input/bike_store/stocks_cleaned.csv", header=True)

In [5]:
print("Customers:")
customers_df.show()

print("Staff:")
staffs_df.show()

print("Orders:")
orders_df.show()

print("Order Items:")
orders_items_df.show()

# Joining the DataFrames and calculating total sales per customer
joined_ord_df = orders_df.join(customers_df, "customer_id", "inner")
joined_item_df = joined_ord_df.join(orders_items_df, "order_id", "inner")
total_sales_per_customer = joined_item_df.groupBy("city").agg(F.sum("total_price_discounted").alias("totals_sales"))

print("Total Sales per Customer:")
total_sales_per_customer.show()

# Convert PySpark DataFrame to Pandas DataFrame for further analysis
# total_sales_pd = total_sales_per_customer.toPandas()

# Stop the Spark session
# spark.stop()

Customers:
+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+
|customer_id|first_name|last_name|         phone|               email|              street|           city|state|zip_code|
+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+
|          1|     Debra|    Burks|          NULL|debra.burks@yahoo...|    9273 Thorne Ave.|   Orchard Park|   NY|   14127|
|          2|     Kasha|     Todd|          NULL|kasha.todd@yahoo.com|     910 Vine Street|       Campbell|   CA|   95008|
|          3|    Tameka|   Fisher|          NULL|tameka.fisher@aol...|769C Honey Creek St.|  Redondo Beach|   CA|   90278|
|          4|     Daryl|   Spence|          NULL|daryl.spence@aol.com|      988 Pearl Lane|      Uniondale|   NY|   11553|
|          5|Charolette|     Rice|(916) 381-6003|charolette.rice@m...|       107 River Dr.|     Sacramento|   CA|   95820|
|          6|   Lyndsey|     Bean|          NULL|lyndsey.bean@hotm...|       769 West Road|       Fairport|   NY|   14450|
|          7|   Latasha|     Hays|(716) 986-3359|latasha.hays@hotm...|7014 Manor Statio...|        Buffalo|   NY|   14215|
|          8| Jacquline|   Duncan|          NULL|jacquline.duncan@...|        15 Brown St.|Jackson Heights|   NY|   11372|
|          9|  Genoveva|  Baldwin|          NULL|genoveva.baldwin@...|   8550 Spruce Drive|Port Washington|   NY|   11050|
|         10|   Pamelia|   Newman|          NULL|pamelia.newman@gm...|   476 Chestnut Ave.|         Monroe|   NY|   10950|
|         11|   Deshawn|  Mendoza|          NULL|deshawn.mendoza@y...|8790 Cobblestone ...|         Monsey|   NY|   10952|
|         12|     Robby|    Sykes|(516) 583-7761|robby.sykes@hotma...|486 Rock Maple St...|      Hempstead|   NY|   11550|
|         13|   Lashawn|    Ortiz|          NULL|lashawn.ortiz@msn...|   27 Washington Rd.|       Longview|   TX|   75604|
|         14|     Garry| Espinoza|          NULL|garry.espinoza@ho...| 7858 Rockaway Court|         Forney|   TX|   75126|
|         15|    Linnie|   Branch|          NULL|linnie.branch@gma...|314 South Columbi...|    Plattsburgh|   NY|   12901|
|         16|    Emmitt|  Sanchez|(212) 945-8823|emmitt.sanchez@ho...|461 Squaw Creek Road|       New York|   NY|   10002|
|         17|     Caren| Stephens|          NULL|caren.stephens@ms...|       914 Brook St.|      Scarsdale|   NY|   10583|
|         18| Georgetta|   Hardin|          NULL|georgetta.hardin@...|      474 Chapel Dr.|    Canandaigua|   NY|   14424|
|         19|  Lizzette|    Stein|          NULL|lizzette.stein@ya...|  19 Green Hill Lane|   Orchard Park|   NY|   14127|
|         20|     Aleta|  Shepard|          NULL|aleta.shepard@aol...|      684 Howard St.|     Sugar Land|   TX|   77478|
+-----------+----------+---------+--------------+--------------------+--------------------+---------------+-----+--------+
only showing top 20 rows

Staff:
+--------+----------+---------+--------------------+--------------+------+--------+----------+
|staff_id|first_name|last_name|               email|         phone|active|store_id|manager_id|
+--------+----------+---------+--------------------+--------------+------+--------+----------+
|       1|   Fabiola|  Jackson|fabiola.jackson@b...|(831) 555-5554|     1|       1|      NULL|
|       2|    Mireya| Copeland|mireya.copeland@b...|(831) 555-5555|     1|       1|         1|
|       3|     Genna|  Serrano|genna.serrano@bik...|(831) 555-5556|     1|       1|         2|
|       4|    Virgie|  Wiggins|virgie.wiggins@bi...|(831) 555-5557|     1|       1|         2|
|       5|  Jannette|    David|jannette.david@bi...|(516) 379-4444|     1|       2|         1|
|       6| Marcelene|    Boyer|marcelene.boyer@b...|(516) 379-4445|     1|       2|         5|
|       7|    Venita|   Daniel|venita.daniel@bik...|(516) 379-4446|     1|       2|         5|
|       8|      Kali|   Vargas|kali.vargas@bikes...|(972) 530-5555|     1|       3|         1|
|       9|     Layla|  Terrell|layla.terrell@bik...|(972) 530-5556|     1|       3|         7|
|      10|Bernardine|  Houston|bernardine.housto...|(972) 530-5557|     1|       3|         7|
+--------+----------+---------+--------------------+--------------+------+--------+----------+

Orders:
+--------+-----------+------------+----------+-------------+------------+--------+--------+
|order_id|customer_id|order_status|order_date|required_date|shipped_date|store_id|staff_id|
+--------+-----------+------------+----------+-------------+------------+--------+--------+
|       1|        259|   Completed|2016-01-01|   2016-01-03|  2016-01-03|       1|       2|
|       2|       1212|   Completed|2016-01-01|   2016-01-04|  2016-01-03|       2|       6|
|       3|        523|   Completed|2016-01-02|   2016-01-05|  2016-01-03|       2|       7|
|       4|        175|   Completed|2016-01-03|   2016-01-04|  2016-01-05|       1|       3|
|       5|       1324|   Completed|2016-01-03|   2016-01-06|  2016-01-06|       2|       6|
|       6|         94|   Completed|2016-01-04|   2016-01-07|  2016-01-05|       2|       6|
|       7|        324|   Completed|2016-01-04|   2016-01-07|  2016-01-05|       2|       6|
|       8|       1204|   Completed|2016-01-04|   2016-01-05|  2016-01-05|       2|       7|
|       9|         60|   Completed|2016-01-05|   2016-01-08|  2016-01-08|       1|       2|
|      10|        442|   Completed|2016-01-05|   2016-01-06|  2016-01-06|       2|       6|
|      11|       1326|   Completed|2016-01-05|   2016-01-08|  2016-01-07|       2|       7|
|      12|         91|   Completed|2016-01-06|   2016-01-08|  2016-01-09|       1|       2|
|      13|        873|   Completed|2016-01-08|   2016-01-11|  2016-01-11|       2|       6|
|      14|        258|   Completed|2016-01-09|   2016-01-11|  2016-01-12|       1|       3|
|      15|        450|   Completed|2016-01-09|   2016-01-10|  2016-01-12|       2|       7|
|      16|        552|   Completed|2016-01-12|   2016-01-15|  2016-01-15|       1|       3|
|      17|       1175|   Completed|2016-01-12|   2016-01-14|  2016-01-14|       1|       3|
|      18|        541|   Completed|2016-01-14|   2016-01-17|  2016-01-15|       1|       3|
|      19|        696|   Completed|2016-01-14|   2016-01-17|  2016-01-16|       1|       2|
|      20|        923|   Completed|2016-01-14|   2016-01-16|  2016-01-17|       1|       2|
+--------+-----------+------------+----------+-------------+------------+--------+--------+
only showing top 20 rows

Order Items:
+--------+-------+----------+--------+----------+--------+-----------+--------------+----------------------+
|order_id|item_id|product_id|quantity|list_price|discount|total_price|total_discount|total_price_discounted|
+--------+-------+----------+--------+----------+--------+-----------+--------------+----------------------+
|       1|      1|        20|       1|    599.99|     0.2|     599.99|       119.998|               479.992|
|       1|      2|         8|       2|   1799.99|    0.07|    3599.98|      251.9986|             3347.9814|
|       1|      3|        10|       2|      1549|    0.05|       3098|         154.9|                2943.1|
|       1|      4|        16|       2|    599.99|    0.05|    1199.98|        59.999|              1139.981|
|       1|      5|         4|       1|   2899.99|     0.2|    2899.99|       579.998|              2319.992|
|       2|      1|        20|       1|    599.99|    0.07|     599.99|       41.9993|              557.9907|
|       2|      2|        16|       2|    599.99|    0.05|    1199.98|        59.999|              1139.981|
|       3|      1|         3|       1|    999.99|    0.05|     999.99|       49.9995|              949.9905|
|       3|      2|        20|       1|    599.99|    0.05|     599.99|       29.9995|              569.9905|
|       4|      1|         2|       2|    749.99|     0.1|    1499.98|       149.998|              1349.982|
|       5|      1|        10|       2|      1549|    0.05|       3098|         154.9|                2943.1|
|       5|      2|        17|       1|       429|    0.07|        429|         30.03|                398.97|
|       5|      3|        26|       1|    599.99|    0.07|     599.99|       41.9993|              557.9907|
|       6|      1|        18|       1|       449|    0.07|        449|         31.43|                417.57|
|       6|      2|        12|       2|    549.99|    0.05|    1099.98|        54.999|              1044.981|
|       6|      3|        20|       1|    599.99|     0.1|     599.99|        59.999|               539.991|
|       6|      4|         3|       2|    999.99|    0.07|    1999.98|      139.9986|             1859.9814|
|       6|      5|         9|       2|   2999.99|    0.07|    5999.98|      419.9986|             5579.9814|
|       7|      1|        15|       1|    529.99|    0.07|     529.99|       37.0993|              492.8907|
|       7|      2|         3|       1|    999.99|     0.1|     999.99|        99.999|               899.991|
+--------+-------+----------+--------+----------+--------+-----------+--------------+----------------------+
only showing top 20 rows

Total Sales per Customer:
+------------------+------------------+
|              city|      totals_sales|
+------------------+------------------+
|            Corona|        13994.9706|
|            Auburn|10063.074900000001|
|           Baldwin|51380.904299999995|
|         Levittown|24056.256999999998|
|            Monroe| 84076.36329999998|
|       Lindenhurst|         27274.366|
|           Atwater|25460.840999999993|
|         Bay Shore|        62345.5418|
|         Rego Park|10843.046899999998|
|     Central Islip| 77520.74409999997|
|Huntington Station| 65140.41950000002|
|           Anaheim|        44855.2655|
|   Jackson Heights| 39536.58429999999|
|           Bayside|29026.505599999997|
|         Yuba City| 6450.952899999999|
|           Commack|         9448.0482|
|           Oakland|35442.094900000004|
|         Oceanside|        27610.4973|
|          New City|17761.335399999993|
|          Holbrook|15250.474500000002|
+------------------+------------------+
only showing top 20 rows

In [6]:
#Data Source 2

In [7]:
server = "localhost"
port = 3306
database = "classicmodels"
jdbc_url = f"jdbc:mysql://{server}:{port}/{database}?permitMysqlScheme"


user = "root"
password = "test1234"
jdbc_driver = "org.mariadb.jdbc.Driver"

properties = {
    "user": user,
    "password": password,
    "driver": jdbc_driver
}

In [8]:
orders_df = spark.read.jdbc(jdbc_url, "(select * from orders) tab", properties=properties)
customers_df = spark.read.jdbc(jdbc_url, "(select * from customers) tab", properties=properties)
orderdetails_df = spark.read.jdbc(jdbc_url, "(select * from orderdetails) tab", properties=properties)
employees_df = spark.read.jdbc(jdbc_url, "(select * from employees) tab", properties=properties)
offices_df = spark.read.jdbc(jdbc_url, "(select * from offices) tab", properties=properties)

In [9]:
res_df = orders_df.join(customers_df, orders_df.customerNumber == customers_df.customerNumber) \
    .join(orderdetails_df, orders_df.orderNumber == orderdetails_df.orderNumber) \
    .join(employees_df, customers_df.salesRepEmployeeNumber == employees_df.employeeNumber) \
    .join(offices_df, employees_df.officeCode == offices_df.officeCode) \
    .groupBy(offices_df.city) \
    .agg(sum(orderdetails_df.quantityOrdered).alias("total_sales"))
    
res_df.show()

+-------------+-----------+
|         city|total_sales|
+-------------+-----------+
|San Francisco|      15910|
|       London|      15691|
|        Tokyo|       4923|
|       Sydney|      12878|
|        Paris|      33887|
|       Boston|       9788|
|          NYC|      12439|
+-------------+-----------+

In [10]:
###Data Source 3

In [11]:
sales_df = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri", "mongodb+srv://student:student@cluster0.koi0v.mongodb.net/sample_supplies.sales").load()

In [12]:
# Explode the items array to have each item in a separate row
exploded_sales_df = sales_df.select(explode("items").alias("item"))

# Calculate sales for each item
total_top_sales = exploded_sales_df.withColumn("price", col("item.price").cast("decimal(10,2)")) \
                                    .withColumn("quantity", col("item.quantity").cast("integer")) \
                                    .withColumn("Sales", expr("price * quantity"))
# Show the resulting DataFrame
total_top_sales.show()

+--------------------+------+--------+-------+
|                item| price|quantity|  Sales|
+--------------------+------+--------+-------+
|{printer paper, 1...| 17.35|       7| 121.45|
|{envelopes, 21.41...| 21.41|       9| 192.69|
|{binder, 20.04, 8...| 20.04|       8| 160.32|
|{pens, 56.62, 4, ...| 56.62|       4| 226.48|
|{laptop, 495.79, ...|495.79|       4|1983.16|
|{pens, 57.03, 2, ...| 57.03|       2| 114.06|
|{backpack, 87.85,...| 87.85|       1|  87.85|
|{envelopes, 23.53...| 23.53|       6| 141.18|
|{envelopes, 10.13...| 10.13|       6|  60.78|
|{binder, 11.57, 9...| 11.57|       9| 104.13|
|{pens, 41.45, 2, ...| 41.45|       2|  82.90|
|{printer paper, 1...| 18.47|      10| 184.70|
|{backpack, 56.04,...| 56.04|       3| 168.12|
|{binder, 24.46, 4...| 24.46|       4|  97.84|
|{notepad, 24.00, ...| 24.00|       5| 120.00|
|{pens, 58.81, 2, ...| 58.81|       2| 117.62|
|{laptop, 548.20, ...|548.20|       3|1644.60|
|{envelopes, 7.73,...|  7.73|       4|  30.92|
|{printer paper, 2...| 27.51|       2|  55.02|
|{notepad, 5.02, 1...|  5.02|       1|   5.02|
+--------------------+------+--------+-------+
only showing top 20 rows

In [13]:
# Check the schema of the DataFrame
total_top_sales.printSchema()

root
 |-- item: struct (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- price: decimal(6,2) (nullable = true)
 |    |-- quantity: integer (nullable = true)
 |    |-- tags: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |-- price: decimal(10,2) (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- Sales: decimal(21,2) (nullable = true)

In [14]:
from pyspark.sql.functions import monotonically_increasing_id

# Add a unique ID column to total_top_sales DataFrame
total_top_sales_with_id = total_top_sales.withColumn("id", monotonically_increasing_id())

# Add a unique ID column to sales_df DataFrame
sales_df_with_id = sales_df.withColumn("id", monotonically_increasing_id())

# Join total_top_sales_with_id with sales_df_with_id on the generated ID
joined_df = total_top_sales_with_id.join(sales_df_with_id.select("id", "storeLocation"), "id", "inner")

# Group by storeLocation and sum up the total sales
top_sales_df = joined_df.groupBy("storeLocation").agg(
        sum("Sales").alias("total_sales"),
        count("Sales").alias("sales_count")
    )


# Sort the DataFrame by total_sales in descending order
sorted_sales_count_df = top_sales_df.orderBy(desc("total_sales"))

# Show the resulting DataFrame
sorted_sales_count_df.show()

+-------------+-----------+-----------+
|storeLocation|total_sales|sales_count|
+-------------+-----------+-----------+
|       Denver|  604839.59|       1549|
|      Seattle|  418471.11|       1134|
|       London|  307393.75|        794|
|       Austin|  232942.75|        676|
|     New York|  179766.71|        501|
|    San Diego|  131922.67|        346|
+-------------+-----------+-----------+

In [15]:
## Data Source 4

In [16]:
server_name = "jdbc:sqlserver://bdgroup1server.database.windows.net"
database_name = "myfirstdatabase"
url = server_name + ";" + "databaseName=" + database_name + ";"
table_name = "[dbo].[bikestore-group-city]"
jdbcDF = spark.read\
.format("com.microsoft.sqlserver.jdbc.spark")\
.option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver")\
.option("url", url)\
.option("dbtable", table_name)\
.option("user", "azureuser")\
.option("password", "Ilove85workWonder69").load()

jdbcDF.show()

+------------------+----------------+
|              city|    totals_sales|
+------------------+----------------+
|            Corona| 13994.970703125|
|            Auburn|10063.0751953125|
|           Baldwin|     51380.90625|
|         Levittown|   24056.2578125|
|            Monroe|   84076.3671875|
|       Lindenhurst| 27274.365234375|
|           Atwater| 25460.841796875|
|         Bay Shore|  62345.54296875|
|         Rego Park|    10843.046875|
|     Central Islip|   77520.7421875|
|Huntington Station|  65140.41796875|
|           Anaheim|    44855.265625|
|   Jackson Heights|   39536.5859375|
|           Bayside| 29026.505859375|
|         Yuba City|     6450.953125|
|           Commack| 9448.0478515625|
|           Oakland|     35442.09375|
|         Oceanside| 27610.498046875|
|          New City|   17761.3359375|
|          Holbrook| 15250.474609375|
+------------------+----------------+
only showing top 20 rows

In [17]:
##Union Data Frame

In [19]:
# total_sales_per_customer data source 1
# res_df data source 2
# sorted_sales_count_df data source 3
# jdbcDF data source 4

combined_df = total_sales_per_customer.union(res_df).union(jdbcDF) #ds1 + ds2 + ds4
combined_df.show()

+------------------+------------------+
|              city|      totals_sales|
+------------------+------------------+
|            Corona|        13994.9706|
|            Auburn|10063.074900000001|
|           Baldwin|51380.904299999995|
|         Levittown|24056.256999999998|
|            Monroe| 84076.36329999998|
|       Lindenhurst|         27274.366|
|           Atwater|25460.840999999993|
|         Bay Shore|        62345.5418|
|         Rego Park|10843.046899999998|
|     Central Islip| 77520.74409999997|
|Huntington Station| 65140.41950000002|
|           Anaheim|        44855.2655|
|   Jackson Heights| 39536.58429999999|
|           Bayside|29026.505599999997|
|         Yuba City| 6450.952899999999|
|           Commack|         9448.0482|
|           Oakland|35442.094900000004|
|         Oceanside|        27610.4973|
|          New City|17761.335399999993|
|          Holbrook|15250.474500000002|
+------------------+------------------+
only showing top 20 rows

In [20]:
# Write DataFrame to Azure SQL Database
mode = "overwrite"  # or "append" if you want to append data to an existing table


combined_df.write \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", "combinesales") \
    .option("user", "azureuser") \
    .option("password", "Ilove85workWonder69") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode(mode)\
    .save()

In [22]:
# Result Data Frame = combined_df join sorted_sales_count_df (ds3)
result_df = combined_df.join(sorted_sales_count_df, combined_df.city == sorted_sales_count_df.storeLocation)
result_df.show()

+---------+------------------+-------------+-----------+-----------+
|     city|      totals_sales|storeLocation|total_sales|sales_count|
+---------+------------------+-------------+-----------+-----------+
|San Diego|28511.119099999993|    San Diego|  131922.67|        346|
| New York| 56729.15999999999|     New York|  179766.71|        501|
|   London|           15691.0|       London|  307393.75|        794|
|San Diego|   28511.119140625|    San Diego|  131922.67|        346|
| New York|    56729.16015625|     New York|  179766.71|        501|
+---------+------------------+-------------+-----------+-----------+

In [23]:
# Write Result to Azure SQL
result_df.write \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", "resultsales") \
    .option("user", "azureuser") \
    .option("password", "Ilove85workWonder69") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode(mode)\
    .save()

In [24]:
spark.stop()